<h1>Calculator</h1>

<div>
  <b>Instructions</b>
  <p>Insert the operands separed by a space and choose the operation!</p>
  <p>Use a dot (.) as decimal separator.</p>
</div>

<form action="/" method="post">
  <label for="operands">Operands:</label>
  <input type="text" id="operands" name="operands">
  <input type="submit" name="action" value="+">
  <input type="submit" name="action" value="*">
  <input type="submit" name="action" value="/">
</form>

<% unless @result.nil? %>
    <h2>Result</h2>
    <p><%=  @result %></p>
<% end %>