<h1>Calculator</h1>

<form action="/" method="post">
  <label for="operands">Operands:</label>
  <input type="text" id="operands" name="operands">
  <input type="submit" name="action" value="+">
  <input type="submit" name="action" value="-">
  <input type="submit" name="action" value="*">
</form>

<% unless @result.nil? %>
    <h2>Result</h2>
    <p><%=  @result %></p>
<% end %>